/*---Logo/Header---*/
.werewolfApp {
  background-color: grey;
}
.werewolfLogo {
  width: 100%;
  margin-top: -110px;
}
.appHeaderContainer {
  background-color: grey;
  display: inline-block;
  height: 350px;
  overflow: hidden;
  width: 70%; /*keep same as werewolf logo width to maintain centering */
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/*---Lobby--*/
#frontPage {
}
#frontPage div {
  margin: 0 auto;
}
#lobby {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "lobby lobby lobby"
    ". login ."
    ". players ."
    ". playButton .";
  background-color: grey;
}

#lobby .login {
  grid-area: login;
  margin-top: 0;
  margin-bottom: 0;
  width: 51vw;
  margin-bottom: 10px;
}

#header {
  height: 250vh;
  width: 100%;
}
#players {
  grid-area: players;
  width: 50vw;
  justify-self: center;
  align-content: center;
  background-color: rgb(205, 201, 201);
  border: solid 7px black;
  transition: all 0.5s ease;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px;
}

#playerHeader {
  font-family: Georgia;
  align-items: center;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 5vw;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0px;
}

#indivPlayer {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px black;
  display: flex;
  justify-content: center;
  align-content: center;
}
#lobby-chat {
  grid-area: lobby-chat;
  border: solid 5px black;
}
#settingsView {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  border: 1px solid black;
}
.setting {
  width: 50px;
}
#msg-input {
  display: inline-block;
  position: relative;
  margin-top: 20%;
}

#send-msg {
  display: inline-block;
  position: relative;
  margin-left: 50%;
  margin-bottom: 90%;
}

.playButton {
  grid-area: playButton;
  text-decoration: none;
  font-family: Georgia;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(75, 3, 3);
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  width: 50vw;
  margin-top: 5vw;
  margin-bottom: 2vw;
  justify-self: center;
}

.playButton:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(96, 12, 12, 0.4);
}

input[type="text"] {
  text-decoration: none;
  font-family: Georgia;
  letter-spacing: 0.2em;
  font-weight: 150;
  /* font-size: 5vw; */
  color: rgb(75, 3, 3);
  padding: 5px;
  border-radius: 4px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  width: 75%;
  /* margin: 2vw; */
  outline: none;
}

input[type="text"]:focus {
  border-color: #333;
  outline: none;
}

input[type="submit"] {
  text-decoration: none;
  font-family: Georgia;
  letter-spacing: 0.2em;
  font-weight: 150;
  /* font-size: 5vw; */
  color: rgba(255, 255, 255, 0.8);
  background: rgb(75, 3, 3);
  padding: 5px;
  border-radius: 4px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  width: 23%;
  /* margin: 2vw; */
}

input[type="submit"]:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(96, 12, 12, 0.4);
}

/*---------------- GameView ---------------------*/

#gameView {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "villageImage villageImage villageImage villageImage"
    "roleContainer roleContainer roleContainer roleContainer"
    "werewolfChat .  aliveDeadList voting";
  background-color: grey;
}

#villageImage {
  grid-area: villageImage;
  align-content: center;
  box-sizing: border-box;
  width: 96%;
  height: 600px;
  margin-bottom: 25px;
  display: block;
  padding: 10%;
  background-color: #2c1401;
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px double #483c32;
  box-shadow: 0 0 0 50px rgba(244, 240, 236, 0.4) inset, 0 0 0 11px #2c1401,
    0 0 30px rgba(0, 0, 0, 0.8) inset;
  outline: 2px solid #333;
  outline-offset: 0px;
}

#gameMessage {
  grid-area: gameMessage;
  height: 250px;
  width: 80%;
  font-weight: 100;
  color: white;
  font-size: 30px;
  font-family: "Bellefair", serif;
  position: relative;
  text-shadow: 0 0 20px rgb(230 10 10), 0 0 20px rgb(10 175 230 / 0%);
  padding: 0.3em 1em 0.25em;
  align-content: center;
  margin-top: 25px;
  min-width: fit-content;
  width: 500px;
}

#role-container {
  grid-area: roleContainer;
  background: linear-gradient(
    to right,
    rgba(36, 31, 31, 1) 0%,
    rgba(36, 31, 31, 1) 32%,
    rgba(74, 71, 70, 1) 100%
  );
  display: flex;
  flex-direction: row;
  width: 96%;
  align-items: center;
  align-content: space-between;
  color: #fff;
  text-align: center;
}

#role {
  padding: 10px;
  margin-right: 30px;
  font-weight: 400;
  font-size: 40px;
  color: white;
  font-family: "Bellefair", serif;
  position: relative;
  width: 500px;
  text-shadow: 0 0 20px rgb(230 10 10), 0 0 20px rgb(10 175 230 / 0%);
  padding: 0.3em 1em 0.25em;
  margin-right: 30px;
  line-height: 1.3;
}

#timer {
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.1em;
  padding: 10px;
  color: red;
  text-shadow: 0 0 20px rgb(230 10 10), 0 0 20px rgb(10 175 230 / 0%);
  font-family: "Bellefair", serif;
  width: 500px;
}

.werewolfChat {
  grid-area: werewolfChat;
  display: grid;
  overflow-y: scroll;
  max-height: 250px;
}

#werewolfChatHeading {
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
}

#seerContainer {
}

#aliveDeadList {
  grid-area: aliveDeadList;
  display: grid;
  max-height: 256px;
  overflow-y: auto;
}

#aliveDeadTitle {
  justify-self: center;
}

#remaining {
  grid-area: remaining;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  align-content: space-around;
  width: 200px;
}

#voting {
  display: grid;
  overflow-y: scroll;
  grid-area: voting;
  height: 250px;
  width: 50%;
  border: 3px solid black;
}

#wolfVotingButton {
  color: black;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid rgb(0, 153, 255);
  transition: all 0.2s ease-in-out;
}

#wolfVotingButton:hover {
  color: white;
  background-color: rgb(0, 153, 255);
  padding: 10px 20px;
  text-align: center;
  border: 2px solid rgb(0, 153, 255);
}

#villagerVotingButton {
  color: black;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid rgb(75, 3, 3);
}

#villagerVotingButton:hover {
  color: white;
  background-color: rgb(75, 3, 3);
  padding: 10px 20px;
  text-align: center;
  border: 2px solid rgb(75, 3, 3);
}

#votingButton #bacground {
}

#turn-info {
}

#role-container {
}

#remaining-wolves {
}

#game-chat {
}

#Selection {
}

#lobby ul {
  list-style-type: square;
  font-size: 20px;
  font-weight: bold;
}

.fas {
  animation: rotation 2s linear infinite;
  display: inline-block;
  color: rgb(75, 3, 3);
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

/*-----------------End Game------------------------*/

#endGameBackground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


#endGameModal {
  display: grid;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30vw;
  min-width: 550px;
  height: 30vw;
  border-radius: 5px;;
  background-color: rgb(205, 201, 201);
}

#endGameMessage {
  font-family: butcherman;
  align-self: center;
  justify-self: center;
  margin-top: 5px;
  font-size: 60px;
  color: rgb(75, 3, 3);;
}

#endGameButton {
  text-decoration: none;
  font-family: Georgia;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(75, 3, 3);
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  width: 50%;
  margin-top: 5vw;
  margin-bottom: 2vw;
  justify-self: center;
}


.drop {
  position: relative;
	width: 20px;
	height: 20px;
  top: -30px;
  margin: 0 auto;
	background: rgb(75, 3, 3);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
  -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 30px solid rgb(75, 3, 3);
  top: -22px;
}


@keyframes drip {
    to {
      top: 190px;
    }
}

#bloodContainer {
  display: inline-flex;
  margin-bottom: 70px;
}

.one {
  left: 24px;
}

.two {
  animation-delay: 1s;
  right: 8px;
}

.three {
  animation-delay: 1.5s;
  right: 7px;
}

.four {
  animation-delay: .45s;
  right: 23px;
}
